@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

/* Material Icons Import from Local system */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../../fusion/fonts/material-icon/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../../fusion/fonts/material-icon/MaterialIcons-Regular.woff2) format('woff2'),
        url(../../fusion/fonts/material-icon/MaterialIcons-Regular.woff) format('woff'),
        url(../../fusion/fonts/material-icon/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body,
html {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Nunito Sans', sans-serif !important;
    overflow-x: hidden;
    height: calc(100% - 85px);
}

body.login-page.stop-scrolling {
    height: 100vh;
    overflow: hidden;
}

/* Login Page - Stripe Design */
.login_form,
.login-page {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 460px;
    flex-flow: column;
}

.login-box {
    width: 75%;
}
.login_form,
.login-page {
    background: repeating-linear-gradient(111deg, #0093d2, #0093d2 60px, #008dce 60px, #008dce 120px);
}

.login-page .alert-success {
    color: white;
    padding: 1em;
}

#buttonForgotten {
    margin-top: 1em;
    color: white;
    box-shadow: none;
    background-color: #aeb8c0 !important;
}

.striped-bg .row-bg-overlay {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.sidebar .user-info .info-container {
    top: 0px;
}

.sidebar .user-info .info-container .user-helper-dropdown,
.sidebar .user-info .info-container .email,
.sidebar .user-info .info-container .name {
    color: black;
}

/* Search Auto Complete */
.ui-autocomplete {
    overflow-x: hidden;
    max-height: 300px;
}

/* Menu Settings */

.sidebar .user-info .image img {
    background-color: white;
}

.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
    top: -2px;
}

#leftsidebar>div.menu>div>ul>li>ul>li>a>i {
    margin-top: 0px;
}

/* Menu Close */

.sidebar .user-info .info-container .user-helper-dropdown {
    position: absolute;
    right: -57px;
}

#menu-close {
    width: 25px;
    height: 33px;
    color: white;
    position: fixed;
    top: 170px;
    left: 273px;
    z-index: 25;
    transition: all 0.5s;
    border-radius: 0px 5px 5px 0px;
}

#menu-close a {
    color: black;
    position: relative;
    top: 4px;
}

#leftsidebar.closed {
    transition: all 0.5s;
    left: -300px;
}

#menu-close.closed {
    background-color: #0093c9;
    transition: all 0.5s;
    left: -3px;
}

#menu-close.closed a {
    color: white;
}

section.content {
    margin: 90px 10px 0px 310px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

section.content.closed {
    margin: 85px 15px 0 15px;
}

/* Form Sizing & Settings */
.stickyFormButtonDiv {
    width: 100%;
}

.demo-checkbox {
    display: flex;
}

.stickyFormButton {
    margin: 0em 0em 3em 1em;
    width: 100%;
}

.stickyFormButton button {
    width: 100%;
}

#formOrderCreate,
#formProductCreate {
    display: flex;
    flex-flow: row wrap;
}

#formOrderCreate>div,
#formProductCreate>div {
    display: flex;
    flex-flow: column;
}

#formOrderCreate>div>.card,
#formProductCreate>div>.card {
    flex: 1 0 auto;
}

.required-label {
    color: red;
}

.formError {
    color: red;
}

/* Form Labels */
.form-group {
    margin-bottom: 5px;
}

textarea+label,
input+label {
    position: absolute;
    top: 10px;
    transition: all 1s ease;
}

.form-control[disabled]+label,
input[type=tel]:valid:not(:placeholder-shown)+label,
textarea:optional:not(:placeholder-shown)+label,
input[type=email]:valid+label,
input:valid+label {
    top: -10px;
    transition: all 1s ease;
    font-size: 0.9em;
}

textarea:required:not(:placeholder-shown)+label {
    top: -20px;
    transition: all 1s ease;
    font-size: 0.9em;
}

input[type=tel]+label,
input:optional:placeholder-shown+label {
    top: 10px;
    transition: all 1s ease;
    font-size: 1em;
}

/* Focus */
input[type=tel]:focus+label,
textarea:focus+label,
input:focus+label {
    top: -10px;
    transition: all 1s ease;
    font-size: 0.9em;
}

input[type=email]:invalid:not(:placeholder-shown)+label {
    top: -10px;
    transition: all 1s ease;
    font-size: 0.9em;
}

input[type=checkbox]+label {
    position: relative;
    top: 0;
    transition: all 1s ease;
}

.demo-checkbox label {
    margin-bottom: 10px;
}

label span {
    color: darkgrey;
}

textarea {
    resize: block;
}

/* Font Settings */
.sidebar,
span,
input,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito Sans', sans-serif !important;
}

#shippingSection h3 {
    font-size: 34px;
}

.companyList {
    margin-top: 17px;
    margin-left: 20px;
}

#divCompanyList>form>div>button>span.bs-caret>span {
    margin-top: 2px;
}

#divCompanyList>form>div>button>span {
    margin-top: 4px;
}

.companyList .btn-group.bootstrap-select {
    width: 360px;
    border-radius: 7px 0px 0px 7px;
}

#navbar-collapse>div>form>button {
    padding: 0.6em 0.8em;
    left: -3px;
    position: relative;
}

#shipping-data,
#shipped-data {
    display: flex;
    justify-content: center;
    align-content: center;
}

#myChart,
#myChartShipped {
    padding: 1em;
    margin-top: -3em;
}

#graphSelect {
    display: flex;
    flex-flow: row;
    margin-bottom: 1em;
}

td .btn {
    margin-right: 0.5em;
    display: inline;
}

/* Order Tables */

#viewOrder,
#shippedOrder {
    display: contents;
    position: relative;
}

/* #orderTableHome {
    display: none;
} */

#shippedOrder {
    display: none;
}

.modalOrder,
.modalProduct {
    cursor: pointer;
}

#modalOrderNotes {
    flex-flow: column;
}
.modalNotesBody {
    padding: 1em 0em;
}
.modalImage {
    max-width: 30%;
}

/* Invoice Table */

#tableFilesViewDownload tr th:nth-child(n+2),
#tableFilesViewDownload tr td:nth-child(n+2) {
    text-align: center;
}

#tableFilesViewDownload td a i {
    vertical-align: middle !important;
}

/* Support Ticket Settings */

#priority label:nth-child(1).active {
    background-color: #00b0e4;
}

#priority label:nth-child(2).active {
    background-color: #ff9600;
}

#priority label:nth-child(3).active {
    background-color: #fb483a;
}

/* Home Page Settings */
.info-box-3,
.info-box {
    margin-bottom: 1em;
    border-radius: 4px;
}

.icon img {
    background-color: white;
    width: inherit;
    padding: .6em;
}

.info-box .content {
    display: flex;
    flex-flow: column;
    padding: 7px 10px;
    width: 100%;
    justify-content: space-between;
}

.info-box .content .number {
    align-items: flex-end;
    justify-content: space-between;
    font-size: 18px;
}

body .info-box .content .text {
    margin-top: 0;
}

body .content .info-box .number {
    display: flex;
    flex-flow: row;
}

.fusionHomeSplit {
    display: flex;
    flex-flow: column;
    font-size: 13px;
    text-align: right;
    font-weight: 400;
}

.info-box .moreInfo ul {
    padding: 5px;
}

.homepageTable td {
    font-size: 13px;
}

#orderTableHome {
    position: relative;
    left: -3000px;
    margin-left: 0px;
    grid-column: span 3;
    grid-row: 1;
    opacity: 0;
}

.shippingBreakdown {
    padding: 16px;
}

#orderTableHome {
    display: none;
}

#linnworksExceptionBox>.card,
#courierExceptionBox>.card,
#exceptionsBox>.card {
    max-height: 220px;
    overflow: scroll;
    overflow-x: hidden;
}

#linnworksExceptionBox {
    display: none;
}

#linnworksExceptionBox>.info-box,
#courierExceptionBox>.info-box,
#courierExceptionTable,
#exceptionsTable,
#exceptionsBox>.info-box {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

#shippedOrderHome {
    display: none;
    position: relative;
    left: -3000px;
    margin-left: 0px;
    grid-column: span 3;
    grid-row: 1;
    opacity: 0;
}

#shippingBreakdown {
    position: relative;
}

#button-div {
    display: none;
    margin-top: 2.5em;
    align-self: flex-end;
}

.form-group .btn-group,
#divFilterStatus .btn-group,
#divFilterType .btn-group {
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    box-shadow: none;
}

#formCompanyCreate.form-group,
#accountType.form-group,
#divFilterOrderNumber .form-group,
#divFilterStatus .form-group {
    margin-bottom: 0px;
}

.btn-group label.btn:not(.btn-link):not(.btn-circle),
#divFilterType .btn:not(.btn-link):not(.btn-circle),
#statusType .btn:not(.btn-link):not(.btn-circle) {
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.144);
    box-sizing: border-box;
    margin: 0.5px;
    font-weight: bold;
    background-color: white;
}

.btn-group label.btn.btn-secondary:hover,
#divFilterType .btn.btn-secondary:hover,
#statusType .btn.btn-secondary:hover {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
    transition: all 300ms ease;
    font-weight: bold;
}

.btn-group label.btn.btn-secondary.active,
#divFilterType .btn.btn-secondary.active,
#statusType .btn.btn-secondary.active {
    background-color: #2b982b;
    color: #fff;
}

#otherReworkType_formDiv label {
    top: -10px;
    transition: all 1s ease;
    font-size: 0.9em;
}

/* Modal Orders Overwrite */

.modal-town-region,
.modal-post-country,
.modal-name-group {
    display: flex;
}

.modal-town-region>div,
.modal-post-country>div,
.modal-name-group>div {
    padding-right: 2em;
}

#modalOrder .tab-content>.active {
    display: flex;
}

table.dataTable {
    width: 100% !important;
}

#modalPacking {
    display: none;
}

.modal-order,
.modal-address,
.modal-name {
    flex: 1 0 auto;
}

#modalOrderPacking .dataTables_wrapper {
    position: relative;
    width: 100%;
}

/* DataTable */

.highlighted > td.sorting_1:nth-child(6),
.highlighted > td:nth-child(6) {
    background-color: red !important;
    font-weight: 900;
    color: white;
}

#grnExpectedReceivedCard,
#grnItemStuCheckCard {
    display: none;
}

/* Bulk Uploads */

#fileValidate {
    text-align: center;
    color: red;
    margin-bottom: 1em;
}

.bulk-button-group {
    display: flex;
}

.bulk-button-flex {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.bulk-button-flex>div {
    margin-right: 1em;
}

.dataTables_wrapper {
    position: relative;
    width: 100% !important;
}

.table-responsive {
    width: 100% !important;
}

/* Side Bar Information */
.card .header .header-dropdown i.info {
    opacity: 0.4;
}

.sideInformationBar {
    position: fixed;
    height: calc(100vh + 85px);
    top: 0px;
    bottom: 0px;
    right: -275px;
    width: 275px;
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
    background-color: #545b62;
}

.sideInformationBar.open {
    right: 0px;
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
    background-color: #545b62;
}

.sideInformationBar h2 {
    font-size: 25px;
    color: white;
    margin: 85px 0.4em 0em;
}

.zd-comment,
.sideInformationBar p {
    margin-top: 1em;
    font-size: 0.95em;
}

#infoText {
    margin: 15px 0.4em 0em;
}

#infoText > div:nth-of-type(even) {
    text-align: right;
}

.sideInformationBar ul {
    padding-inline-start: 20px;
}

.sideInformationBar strong {
    font-size: 1.25em;
}

body.sidebarOpen section.content {
    margin: 85px 150px 0 175px;
}

body.sidebarOpen section.content.closed {
    margin: 85px 290px 0 15px;
}

/* Cubiscan Page */

#apiResponseBlock {
    display: none;
}

.dataInput {
    margin-right: 1em;
}

/* View Tickets Page */

#closedTicketsDiv {
    display: none;
}

#ticketReply textarea {
    color: black;
    font-size: 0.95em;
    color: black;
    font-size: 0.95em;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#ticketReply input {
    margin-bottom: .5em;
}

#ticketReply button {
    margin-bottom: 30px;
}

.open.ticket {
    width: 70%;
    z-index: 10;
    overflow: scroll;
    padding-bottom: 3em;
}

.open.ticket .infoHeader,
.open.ticket .menu {
    padding: 2em;
}

.open.ticket .close:hover, .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}

.containerCard {
    margin: 1em;
    padding: 2em;
    flex: 1 0 auto;
    text-align: center;
    border: 1px solid rgb(224, 224, 224);
    justify-content: space-around;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.15);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
}

.moreInfo {
    text-align: right;
    padding-right: 8px;
    padding-top: 3px;
}

.header-dropdown {
    list-style: none;
}

/* Exceptions */
.label-count {
    background-color: #f00;
}

/* Exceptions Page */

#exceptionCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(25% - 11px));
    grid-column-gap: 1em;
    transition: all 1s;
}

.exceptionCard {
    grid-column: initial;
    grid-row: initial;
    transition: all 3s;
}

.exceptionCard.active {
    grid-column: 1/5;
    grid-row: 1/4;
    display: flex;
    transition: all 3s;
}

#header_packing {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

#addressDetails {
    text-align: right;
}

#packingListDiv {
    display: none;
}

/* Dark Mode */
body.darkMode {
    background-color: #000000;
}

body.darkMode .content {
    filter: invert(1);
}

body.darkMode .sidebar {
    filter: invert(1);
}

body.darkMode .sidebar .user-info {
    filter: invert(1);
}

body.darkMode .navbar {
    filter: invert(1);
}

body.darkMode .container-fluid {
    filter: brightness(0.8);
}

.SLM,
.FLL {
    background-color: #000000;
}

body .user-info.SOC,
body .user-info.SLM,
body .user-info.SIG {
    background-size: 50%;
    background-position-y: 20px;
}

body .user-info.ONEGA {
    background-size: 35%;
    background-position-y: 10px;
}

.SLM.user-info .info-container .user-helper-dropdown,
.SLM.user-info .info-container .email,
.SLM.user-info .info-container .name,
.FLL.user-info .info-container .user-helper-dropdown,
.FLL.user-info .info-container .email,
.FLL.user-info .info-container .name {
    color: white !important;
}

.x_content {
    display: flex;
    height: calc(100vh - 85px);
    width: 100%;
}

.x_content iframe {display: block; width: 100%; height: 100%; border: none;}

.pad-1 {
    padding: 1em;
}
/* News */
.padding-news {
    padding: 0 15px;
}

/* Rules Engine */
.rulesEngineContainer {
    text-align: center;
}
.rulesEngineContainer .btn:not(.btn-link):not(.btn-circle) {
    font-size: 10px;
}
.rulesEngine {
    margin-top: 2em;
}
.column-box {
    display: flex;
    flex-flow: column;
}
.column-box div {
    margin-bottom: 1em;
}
.removePadding {
    padding: 0;
}
.leader-line {
    margin-top: -91px;
}
.rules-padding {
    padding-left: 30px;
    padding-right: 45px;
}
.button-group {
    display: flex;
}
.ruleButton {
    cursor: auto;
}
.ruleButton:hover {
    color: white;
}
.ruleButton.small {
    width: 15%;
    font-size: .5em;
}
.rulesCard {
    display: block;
}
@media (min-width: 768px) {
    #modalOrder .modal-dialog {
        width: 85%;
    }

    #packingList_wrapper th {
        font-size: smaller;
    }

    #packingList_wrapper td {
        font-size: smaller;
    }

    #packingList.table.dataTable thead>tr>th {
        padding-right: 10px;
    }
}

@media (min-width:1186px) {
    body.sidebarOpen section.content {
        margin: 85px 275px 0 300px;
    }
}

@media (max-width:1186px) {
    #menu-close {
        display: none;
    }

    body.sidebarOpen section.content {
        margin: 85px 280px 0 15px;
    }
}

@media (max-width:769px) {
    .rulesCard {
        padding-top: 1em;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.144);
        margin-bottom: 1em;
    }
    .rulesCard .tablet {
        margin-top: 1em;
    }
    #menu-close {
        display: none;
    }

    .bulk-button-group {
        flex-flow: column;
    }

    .bulk-button-flex {
        flex-flow: column;
        align-items: start;
    }

    .bulk-button-flex>div {
        margin-top: 1em;
    }

    .navbar .dropdown-menu {
        margin-left: 0px;
    }

    #shippingSection {
        display: flex;
        flex-flow: row wrap;
    }

    #shippingSection .card {
        flex: 1 0 130px;
        margin-left: 0px;
    }

    #shippingSection .card {
        box-shadow: 0 0 0 0;
    }

    #shippingSection .card h3:nth-child(1) {
        font-size: 1.45em;
    }

    #shippingSection .card:nth-of-type(n+2) {
        margin-left: 0px;
        box-shadow: 0 0 0 0;
    }

    #shippingSection #currentOrders,
    #shippingSection #shippedLastWeek {
        width: 100%;
        max-width: 100%;
    }

    .companyList .btn-group.bootstrap-select {
        width: 280px;
    }
}

/* TEST MODAL SETTINGS */
/* @media (min-width: 768px) {
    .modal {
        position: fixed;
        right: 0;
        left: auto;
        width: 400px;
        margin: 70px auto auto 0px;
        height: calc(100% - 70px);
    }
    .modal-dialog {
        position: relative;
        overflow: auto;
        min-height: 100%;
        margin: 0;
    }
    .modal-content {
        position: absolute;
        width: 400px;
        min-height: 100%;
      }
    .modal-open section.content {
        margin: 100px 400px 0 315px;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .modal-open table.dataTable thead > tr > th, table.dataTable thead > tr > td {
        padding-right: 10px;
    }
    .modal-backdrop {
        display: none;
    }
} */