@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #e9e9e9;
}

.ui-dialog-title, h1, h6 {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 4em;
    border-radius: .5em;
    box-shadow: 3px 5px 80px 0px rgba(0, 0, 0, 0.25);
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

form label {
    font-size: 1.3em;
    font-weight: 900;
}

form input {
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 2em;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}

form input:focus {
    outline: none;
    border-bottom-color: #0093d2;
}

form button {
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -3px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0,0,0,0.1) inset;
    transition: all .45s cubic-bezier(0.25,1,0.33,1);
    -webkit-transition: all .45s cubic-bezier(0.25,1,0.33,1);
    -o-transition: all .45s cubic-bezier(0.25,1,0.33,1);
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
    padding: 13px 18px;
    position: relative;
    top: 0;
    margin-bottom: 10px;
    opacity: 1;
    line-height: 20px;
    background-color: #000;
    display: inline-block;
    box-sizing: border-box;
    border-width: 2px;
    border-color: black
}

form button:hover {
    box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.35);
    transition: all .45s cubic-bezier(0.25,1,0.33,1);
    -webkit-transition: all .45s cubic-bezier(0.25,1,0.33,1);
    -o-transition: all .45s cubic-bezier(0.25,1,0.33,1);
    cursor: pointer;
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    box-sizing: border-box;
}

#title-header {
    justify-content: center;
}

.logo3PL {
    justify-content: center;
    width: 250px;
}